# Terraform files
*.tfstate
*.tfstate.backup
.terraform/


# Local environment files
.env
.env.local

# Private key files
*.pem 

#new-test-user-123
#%VkPzgNRuyZ$^@a^

#test-user-123
#lB@F^X(uB#a47uwe